.wrapper {
  box-sizing: border-box;
  width: 240px;
  /* height: 340px; */
  display: flex;
  flex-flow: row wrap;
  border-left: 1px solid black;
  box-shadow: 0px 50px 100px 0px rgba(0, 0, 0, .5);

}